.tabs {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
	margin: auto;
	margin-top: 3%;
}
.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin: auto;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.2rem;
	transition: background ease 0.2s;
}
.tabs .tab {
	order: 99;
	height: 600px;
	display: none;
	background: #222;
	overflow-y: auto;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.75);
}

.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	text-decoration: underline #EEE;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
	.tabs .tab,
	.tabs label {
		order: initial;
	}
	.tabs label {
		width: 100%;
		margin-right: 0;
		margin-top: 0.2rem;
	}
}
