.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;

	justify-content: space-around;
	background: black;
}

.flex-item {
	background: #242424;
	padding: 5px;
	width: 200px;
	height: 400px;
	margin: 10px;
	
	color: white;
	font-weight: bold;
	text-align: center;
}
